@font-face {
    font-family: 'madjoe';
    src: url('./madjoe.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;

}

body {
    height: 100%;
    margin: 0;
    background: rgb(41,24,58);
    background: -moz-linear-gradient(308deg, rgba(41,24,58,1) 0%, rgba(64,44,94,1) 50%, rgba(72,77,109,1) 100%);
    background: -webkit-linear-gradient(308deg, rgba(41,24,58,1) 0%, rgba(64,44,94,1) 50%, rgba(72,77,109,1) 100%);
    background: linear-gradient(308deg, rgba(41,24,58,1) 0%, rgba(64,44,94,1) 50%, rgba(72,77,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#29183a",endColorstr="#484d6d",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
}

#big-auth-cont{
    position: absolute;
    left : 50%;
    top:50%;
    transform: translate(-50%,-50%);


}
#logo{

    font-family: madjoe;
    text-align: center;
    font-size: 4em;
    background: #391463;
    color: white;
    width: 250px;
    padding: 30px 30px 15px 30px;
    z-index: 1;
    border-radius: 25px 100px 0px 0px;
    -webkit-box-shadow: 7px 6px 7px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 6px 7px 0px rgba(0,0,0,0.59);
    border-bottom: 3px yellow solid;



}

nav{
    height : 50px;
    display: flex;
    justify-content: flex-start;
    background: #391463;
    -webkit-box-shadow: 7px 21px 15px -10px rgba(0,0,0,0.59);
    box-shadow: 7px 21px 15px -10px rgba(0,0,0,0.59);
    align-items: center;

}
#appName {
    font-family: madjoe;
    margin-left : 50px;
    color: white;
    font-size: 3em;
    flex:1;
    padding-top: 5px ;
}

form {
    background: #311152;
}
.firebaseui-title {
    color:white !important;
    font-family: madjoe;
    font-size: 2em !important;
}

label {
    color:white !important;
}

.firebaseui-link{
    color:yellow !important;
}

.mdl-button--raised.mdl-button--colored{
    background: #452f63 !important;
    border-radius: 25px;
}

input[type="email"], [type="text"] {
    color:yellow !important;
    background-color: #452f63 !important;
}
#user-profile{
    margin-right: 50px;
}
#auth-div{
    /*position: absolute;*/
    /*left : 50%;*/
    /*top:50%;*/
    /*transform: translate(-50%,-50%);*/
    padding:30px;
    width:250px;
    border-radius: 0px 0px 25px 100px;
    background: #311152;
    -webkit-box-shadow: 7px 6px 7px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 6px 7px 0px rgba(0,0,0,0.59);
}

#tags-input {
    display: none;
}

#spawn-container{
    position: absolute;
    left : 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: rgba( 49, 17, 82, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 25px 100px 25px 100px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:50px;
}

.bundle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

}